.product-list {
  background: #f3f3f3;
  padding: 10px;
}
.product {
  display: block;
  width: 90%;
  margin: 0 auto 15px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
.product__button {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 5px 15px;
  text-decoration: none;
  margin-top: 10px;
}
